**Function Practice Exercises**

**LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd**

**lesser_of_two_evens(2,4) --> 2**</br>
**lesser_of_two_evens(2,5) --> 5**

In [404]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [405]:
# Check
lesser_of_two_evens(2,4)

2

In [406]:
# Check
lesser_of_two_evens(2,5)

5

In [407]:
# Check
lesser_of_two_evens(7,5)

7

In [401]:
min(10,20)

10

In [403]:
max(10,20)

20

**ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter**

**animal_crackers('Levelheaded Llama') --> True**</br>
**animal_crackers('Crazy Kangaroo') --> False**

In [411]:
def animal_crackers(text):
    word = text.lower().split()
        
    return word[0][0] == word[1][0]

In [412]:
# Check
animal_crackers('Levelheaded Llama')

True

In [414]:
# Check
animal_crackers('Crazy Cat')

True

**MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False**

**makes_twenty(20,10) --> True**</br>
**makes_twenty(12,8) --> True**</br>
**makes_twenty(2,3) --> False**

In [415]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [416]:
# Check
makes_twenty(20,10)

True

In [417]:
# Check
makes_twenty(12,8)

True

In [418]:
# Check
makes_twenty(2,3)

False

**OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name**

**old_macdonald('macdonald') --> MacDonald**

**Note: 'macdonald'.capitalize() returns 'Macdonald'**

In [425]:
def old_macdonald(name):
    mylist = []
    for x in range(len(name)):
        if x == 0 or x == 3:
            mylist.append(name[x].upper())
        else:
            mylist.append(name[x])
                 
    return ''.join(mylist)

In [426]:
# Check
old_macdonald('macdonald')

'MacDonald'

**MASTER YODA: Given a sentence, return a sentence with the words reversed**

**master_yoda('I am home') --> 'home am I'**
**master_yoda('We are ready') --> 'ready are We'**

**Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:**

**>>> "--".join(['a','b','c'])**
**>>> 'a--b--c'**

**This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:**

**>>> " ".join(['Hello','world'])**
**>>> "Hello world"**

In [432]:
def master_yoda(text):
    mylist = text.split()
    myrevlist = mylist[::-1]
    
    return ' '.join(myrevlist)

In [433]:
master_yoda('test 1')

'1 test'

In [434]:
# Check
master_yoda('I am home')

'home am I'

In [435]:
# Check
master_yoda('We are ready')

'ready are We'

**ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200**

**almost_there(90) --> True**</br>
**almost_there(104) --> True**</br>
**almost_there(150) --> False**</br>
**almost_there(209) --> True**

**NOTE: abs(num) returns the absolute value of a number**

In [442]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [443]:
# Check
almost_there(104)

True

In [444]:
# Check
almost_there(150)

False

In [445]:
# Check
almost_there(209)

True

In [446]:
almost_there(90)

True

**FIND 33:**

**Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.**

**has_33([1, 3, 3]) → True**</br>
**has_33([1, 3, 1, 3]) → False**</br>
**has_33([3, 1, 3]) → False**

In [464]:
def has_33(nums):
    nums_len = len(nums)
    for x in range(nums_len-1):
        if nums[x:x+2] == [3,3]:
                #Array contains 3 next to a 3
            return True
    # Array does not contain 3 next to a 3
    return False

In [465]:
has_33([100,200,300,400,3,1,3])

False

In [466]:
# Check
has_33([1, 3, 3])

True

In [467]:
# Check
has_33([1, 3, 1, 3])

False

In [468]:
# Check
has_33([3, 1, 3])

False

**PAPER DOLL: Given a string, return a string where for every character in the original there are three characters**

**paper_doll('Hello') --> 'HHHeeellllllooo'**</br>
**paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'**

In [136]:
def paper_doll(text):
    mylist = []
    for x in text:
        mylist.append(x*3)
        
    return ''.join(mylist)

In [137]:
paper_doll('test')

'ttteeesssttt'

In [138]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [139]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

**BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'**

**blackjack(5,6,7) --> 18**</br>
**blackjack(9,9,9) --> 'BUST'**</br>
**blackjack(9,9,11) --> 19**</br>

In [493]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c]:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [494]:
blackjack(10,9,9)

'BUST'

In [495]:
# Check
blackjack(5,6,7)

18

In [496]:
# Check
blackjack(9,9,9)

'BUST'

In [497]:
# Check
blackjack(9,9,11)

19

**SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.**

**summer_69([1, 3, 5]) --> 9**</br>
**summer_69([4, 5, 6, 7, 8, 9]) --> 9**</br>
**summer_69([2, 1, 6, 9, 11]) --> 14**

In [239]:
def summer_69(arr):
    mylist = arr
    len_arr = len(arr)
    for x in range(len_arr):
        if arr[x] == 6:
            mylist[x] = 0
            for z in range(x,len_arr):
                if arr[z] == 9:
                    mylist[z] = 0
                    break
                else:
                    mylist[z] = 0
    return sum(mylist)

In [240]:
summer_69([1,2,3,6,7,8,9,10])

16

In [241]:
# Check
summer_69([1, 3, 5])

9

In [242]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [243]:
# Check
summer_69([2, 1, 6, 9, 11])

14

**SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order**

 **spy_game([1,2,4,0,0,7,5]) --> True**</br>
 **spy_game([1,0,2,4,0,5,7]) --> True**</br>
 **spy_game([1,7,2,0,4,5,0]) --> False**

In [264]:
def spy_game(nums):
    mylist = nums
    len_nums = len(nums)
    for x in range(len_nums):
        if nums[x] == 0:
            for y in range(x+1,len_nums):
                if nums[y] == 0:
                    for z in range(y,len_nums):
                        if nums[z] == 7:
                            return True
    return False

In [265]:
spy_game([0,1,0,2,9,0])

False

In [266]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [267]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [268]:
# Check
spy_game([1,7,2,0,4,5,0])

False

**COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number**

**count_primes(100) --> 25**

**By convention, 0 and 1 are not prime.**

In [280]:
def count_primes(num):
    count_primes = 0
    
    # Define a boolean array for all the values of numbers from 0 to num and set them to True
    bool_array = [True for i in range(num+1)]
    p = 2 # start with 2 as 0 and 1 are not prime numbers
    
    while p * p <= num:  
        if bool_array[p] == True:
            for i in range(p * p, num+1, p):# As per Eratosthenes theorem, Mark the first number (2) as prime and eliminate all multiples of 2 from the list.
                bool_array[i] = False
        p += 1 #Repeat this process for the remaining unmarked numbers, marking each new prime and eliminating its multiples
            
    for p in range(2, num+1):
        if bool_array[p]:
            count_primes += 1
            
    return count_primes

In [283]:
count_primes(2)

1

In [284]:
# Check
count_primes(100)

25

**PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter**

**print_big('a')**

**out: &emsp;&ensp;  *  </br>**
**&emsp;&emsp;&emsp;  * &ensp;&ensp; * </br>**
**&emsp;&emsp;&nbsp;&nbsp;&nbsp;    ***** </br>**
**&emsp;&emsp;&emsp;     * &ensp;&ensp;  * </br>**
**&emsp;&emsp;&emsp;     * &ensp;&ensp;  * </br>**
**HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.</br>**
**For purposes of this exercise, it's ok if your dictionary stops at "E".**

In [398]:
def print_big(value):
    dict_pattern = {1:'  *   ',2:'*   * ',3:'*****',4:'*   * ',5:'*   * '}
    dict_alphabet = {'A':[1,2,3,4,5]}
    x = dict_alphabet['A']
    for x in dict_alphabet[value]:
        print(dict_pattern[x])

In [399]:
print_big('A')

  *
*   *
*****
*   *
*   *