**Write a brief description of all the following Object Types and Data Structures we've learned about:**

Numbers: Integers and floating points

Strings: Ordered sequence of Characters

Lists: Ordered sequence of objects and can be of different datatypes.They can be indexed,sliced.Ex: ["hello",1,200.3]

Tuples: Ordered immutable sequence of objects and can be of different datatypes. Ex: ('hello',1,200.3)

Dictionaries: Unordered objects in key value pairs. Ex: {"Key1":"Value1,"Key2":"Value2"}

**Numbers

**Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

**Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25**

In [1]:
((100*20)/200)**2+(0.50-0.25)

100.25

**Answer these 3 questions without typing code. Then type code to check your answer.**

**What is the value of the expression 4 * (6 + 5)** </br>
44

**What is the value of the expression 4 * 6 + 5**</br>
29

**What is the value of the expression 4 + 6 * 5**</br>
34

In [2]:
4 * (6 + 5)

44

In [3]:
4 * 6 + 5

29

In [4]:
4 + 6 * 5

34

**What is the type of the result of the expression 3 + 1.5 + 4?**
</br> float

In [6]:
type(3 + 1.5 + 4)

float

**What would you use to find a numberâ€™s square root, as well as its square?**

In [7]:
#square: a**2

In [8]:
#squareroot: a**0.5

In [10]:
3**2

9

In [12]:
16**0.5

4.0

**Strings**</br>
**Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:**

In [13]:
s = 'hello'
# Print out 'e' using indexing

In [14]:
s[1]

'e'

**Reverse the string 'hello' using slicing:**

In [15]:
s ='hello'
# Reverse the string using slicing

In [16]:
s[::-1]

'olleh'

**Given the string hello, give two methods of producing the letter 'o' using indexing.**

In [21]:
s ='hello'
# Print out the 'o'

# Method 1: 
s[-1]

'o'

In [22]:
# Method 2:
s[4]

'o'

**Lists** </br>
**Build this list [0,0,0] two separate ways.**

In [23]:
# Method 1:
list = [0,0,0]

In [100]:
# Method 2:
[0]*3

[0, 0, 0]

**Reassign 'hello' in this nested list to say 'goodbye' instead:**

list3 = [1,2,[3,4,'hello']]

In [25]:
list3 = [1,2,[3,4,'hello']]

In [26]:
list3[2]

[3, 4, 'hello']

In [27]:
list3[2][2]

'hello'

In [28]:
list3[2][2] = 'goodbye'

In [29]:
list3

[1, 2, [3, 4, 'goodbye']]

**Sort the list below:**

In [106]:
list4 = [5,3,4,6,1]

In [107]:
list4.sort() # In place method

In [108]:
list4

[1, 3, 4, 5, 6]

In [111]:
list4 = [5,3,4,6,1]
sorted(list4) # returns a list

[1, 3, 4, 5, 6]

**Dictionaries** </br>
**Using keys and indexing, grab the 'hello' from the following dictionaries:**

In [34]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [35]:
d['simple_key']

'hello'

In [36]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [37]:
d['k1']

{'k2': 'hello'}

In [38]:
d['k1']['k2']

'hello'

In [47]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [52]:
d['k1'][0:36:]

[{'nest_key': ['this is deep', ['hello']]}]

In [76]:
contents = d['k1'][0]['nest_key'][1][0]

In [77]:
contents

'hello'

In [72]:
type(contents)

list

In [75]:
contents[0]

'hello'

In [80]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [87]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

**Can you sort a dictionary? Why or why not?**
No - Dictionary is a key-value pair.It is orderless.

**Tuples</br>
What is the major difference between tuples and lists?** </br>
Lists are Ordered sequence of objects whereas Tuples are Ordered immutable sequence of objects.

**How do you create a tuple?** </br>
t = ('hello',100,200.3)

**Sets </br>
What is unique about a set?**</br>
Sets are Unordered Unique collection of objects.

**Use a set to find the unique values of the list below:**

list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [88]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [89]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

**Booleans</br>**
**For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.**

**Operator	Description	Example</br>**
- **==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.**</br>
- **!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.**</br>
- **>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.**
- **< If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.** 
- **>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.**
- **<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.**

**What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)**

In [91]:
# Answer before running cell
2 > 3 
# False

False

In [92]:
# Answer before running cell
3 <= 2
# False

False

In [93]:
# Answer before running cell
3 == 2.0
# False

False

In [95]:
# Answer before running cell
3.0 == 3
# True

True

In [97]:
# Answer before running cell
4**0.5 != 2
# False

False

**Final Question: What is the boolean output of the cell block below?**

In [98]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# 3 >= 4
# False

False